<body style="background-image: url('./assets/watercolor-totoro.jpg');">
    <div>
        <div>
            <nav>
                <div>
                    <h1 class="bg-blue-200" style="background-image: url('./assets/totoro-discord.gif');">
                        <p class="text-4xl p-6 font-bold font-bangers ">TotoroBank</p>
                    </h1>
                </div>
            </nav>
        </div>
        <nav class="flex items-center justify-end text-white" style="background-color: rgb(174, 189, 45);">
            <div class="mx-8 py-2">
                <a href="/homepage" class="text-white-600 hover:text-black">Home</a>
            </div>

            <div class="mx-8 py-2">
                <a class="text-white-300 hover:text" style="pointer-events: none;"><s>Transfers</s></a>
            </div>
            <div class="mx-8 py-2">
                <a href="#" class="text-white-300 hover:text" style="pointer-events: none;"><s>Settings</s></a>
            </div>
            <div class="mx-8 py-2">
                <button id="logout" class="text-white-300 hover:text-black">Logout</button>
            </div>
        </nav>

        <div class="container mx-auto px-4 py-8 rounded-xl mt-12 " style="background-color:rgba(250, 235, 215, 0.685);">
            <h1 class="text-2xl font-bold mb-4 text-center"> Deposit </h1>

            

            <div class="flex justify-between items-center mb-4 ">
                <h3 class="text-lg font-bold">Deposit:</h3>
                <form class="flex items-center opacity-100 deposit-form" action="#" method="POST">
                    <label for="deposit-amount" class="sr-only">Deposit amount:</label>
                    <select id="account" name="account" class="mr-4 px-4 py-2 border rounded-md focus:outline-none focus:ring-blue-100">
                        {{#if accounts.length}}
                            {{#each accounts as |account|}}
                                <option class="account-input" value="account{{account.id}}" data-id={{account.id}}>{{account.id}}</option> <!-- Account id since there is no field for account type field in data model-->
                            {{/each}}
                        {{/if}}
                    </select>
                    <input type="number" id="deposit-amount" name="deposit-amount" placeholder="Enter deposit amount"
                        class="px-4 py-2 border rounded-l-md focus:outline-none focus:ring focus:ring-yellow-200">
                    <button type="submit" id="depositBtn"
                        class="px-4 py-2  text-white rounded-r-md hover:bg-yellow-500 focus:outline-none focus:ring focus:ring-yellow-400"
                        style="background-color: rgb(174, 189, 45);">Deposit</button>
                </form>
            </div>
        </div>

</body>

<script src="/js/deposit.js"></script>
<script src="/js/logout.js"></script>