body {
  background-image: url(../assets/Totoro-BG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#totoro-icon {
  height: 80px;
  width: 80px;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

main {
  display: flex;
}
